html,
body {
    height: 100%;
    background-color: #F5F5F5;
    color: #333333;
    font-family: "Arial",Helvetica,Arial,sans-serif;}

a, a:focus {
    outline: 0;
}

.alert {
    margin: 10px 0px 10px 0px !important;
}

a::-moz-focus-inner {
    border: 0;
}

button, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0;
}

/* #TODO */


.thumbnail:hover, .vip-photo:hover, .vip-img ,#avatar:hover,.photo img:hover ,
.rate .users-dating .level-2 a:hover,.preview li:hover,.messages .message:hover {

    -webkit-box-shadow:0 3px 9px 1px #B9B9B9;
    -moz-box-shadow:0 3px 9px 1px #B9B9B9;
    box-shadow: 0 3px 9px 1px #B9B9B9;
    /*-webkit-transition: all 0.3s linear;*/
    /*-o-transition: all 0.3s linear;*/
    /*-moz-transition: all 0.3s linear;*/
    /*-ms-transition: all 0.3s linear;*/
    /*-kthtml-transition: all 0.3s linear;*/
    /*transition: all 0.3s linear;*/
}


.thumbnail .caption h4 {
    margin-top: 3px !important;
    margin-bottom: 1px !important;
}
.user-gallery-item {
    min-height: 250px;
}

.navbar-inverse {
    background-color: #00b9e5;
    border-color: transparent;
    box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -moz-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -webkit-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
}
.navbar-active{
    background: rgba(250, 250, 250, 0.2) none repeat scroll 0% 0%;    border-color: transparent;
    box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -moz-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -webkit-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
}
.navbar-nav > li:hover {
    background: rgba(250, 250, 250, 0.2) none repeat scroll 0% 0%;    border-color: transparent;
    box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -moz-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    -webkit-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);
    border-bottom: 4px solid #f6fdfe;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
    font-size: 14px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse {
    float: left;
}

.navbar-toggle {

    padding: 0px;
    margin: 0px;
    border: none;
}

.profile-like-ic{
    width: 21px;
    height: 20px;
    background: url('../images/icons/alo-chat-sprite.png') no-repeat -46px -297px;
    float: left;
    display: block;
    margin-right: 4px;
}
.profile-message-ic {
    background: url('../images/icons/alo-chat-sprite.png') no-repeat -89px -297px;
    width: 22px;
    height: 20px;
    float: left;
    display: block;
    margin-right: 4px;
}
.discovery-ic {
    width: 21px;
    height: 20px;
    background: url('../images/icons/alo-chat-sprite.png') no-repeat -46px -297px;
    float: left;
    display: block;
    margin-top: 4px;
    margin-right: 4px;
}
.users-ic {
     width: 30px;
     height: 24px;
     background: url('../images/icons/alo-chat-sprite.png') no-repeat -0px -297px;
     float: left;
     display: block;
     margin-top: 4px;
     margin-right: 4px;
 }

.dropdown-ic {
     width: 30px;
     height: 24px;
     background: url('../images/icons/alo-chat-sprite.png') no-repeat -0px -200px;
     float: left;
     display: block;
     margin-top: 10px;
     margin-right: 4px;
 }

.message-ic {
    background: url('../images/icons/alo-chat-sprite.png') no-repeat -89px -297px;
    width: 22px;
    height: 20px;
    float: left;
    display: block;
    margin-top: 4px;
    margin-right: 4px;
}

.vip-ic {
    background: url('../images/icons/sprite_internal.png') no-repeat -83px -89px;
    width: 18px;
    height: 22px;
    float: left;
    display: block;
    margin-top: 4px;
    margin-right: 4px;
}



.discovery-vip-title {
    margin:5px;
    padding:5px;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    text-align: center
}
.inline-block {
    display: inline-block;
}
.navbar {
    min-height: 55px !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-left: 98px;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li{
    min-height: 55px;
    padding: 5px;
    padding-right: 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fafafa;
    max-height: 427px !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #fafafa;
}

.navbar-brand {
    background: transparent url("../images/icons/alo-chat-sprite.png") no-repeat scroll 0px -120px;
    width: 103px;
    height: 30px;
    line-height: 0;
    padding: 0px !important;
    margin-top: 14px;
    margin-left: -8px;
}

/*.navbar-brand:hover{
    background: rgba(250, 250, 250, 0.2) none repeat scroll 0% 0%;
    border-color: transparent;
    box-shadow: 0px 2px 4px -2px rgba(35, 35, 35, 0.08);
}*/
.profile-short {

    margin-top: 12px;
    margin-right: -15px;
}

.profile-short a, .profile-short a:focus, .profile-short a:hover, .profile-short a:active {

    color: #ffffff;
}

.profile-short .name {

    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 18px;
}

.profile-short .profile-photo {

    display: block;
    float: left;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

#profile-short-collapse {
    position: absolute;
    min-width: 150px;
    top: 43px;
    color: red;
    background-color: #ffffff;
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    /*right: 100px;*/
    z-index: 9999;
    color: #141823;

}

#profile-short-collapse ul {
    padding: 5px 0px;
    list-style-type: none;
    margin: 0px;
    line-height: 1.34;
    font-size: 12px;
    text-align: left;
}

#profile-short-collapse ul li {

    display: block;
    max-width: 200px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

#profile-short-collapse ul li:hover {
    background-color: #0091EA;

}

#profile-short-collapse ul li:hover a {
    color: #ffffff;
}

#profile-short-collapse ul li a {
    border-style: solid;
    border-color: #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    color: #141823;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    padding: 0px 12px;
    display: block;
    text-decoration: none;
    outline: medium none;
}

.profile-short .profile-short-menu, .custom-toggle {
    background: url('../images/icons/sprite_internal.png') no-repeat -86px -111px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 7px;
    cursor: pointer;
}

.custom-toggle {
    float: right;
    margin-right: 26px;
    margin-top: 15px;
}

.wrap {
    /*min-height: 100%;*/
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    /*color: #ffffff;*/
}

.wrap > .container {
    padding: 0px 0px 0px;
}

.profile-page-title {
    margin: -20px -28px 10px -13px;
    background-color: rgb(245, 245, 245);
    padding: 10px 20px;
}

.profile-page-container {
    position: relative;
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 22px 20px 22px;

}

.profile-page-container > hr {

    margin: 20px 0px 20px 0px !important;
}

.footer {
    min-height: 120px;
    color: #ffffff !important;
}

.footer .line1 {
    height: auto;
    width: 100%;
    float: left;
    background-color: #55acee;
    border-bottom: 1px solid #f5f5f5;
}

.footer .line1 ul {
    list-style: none;
    /*max-width: 660px;*/
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.footer .line1 .container {
    margin-top: 20px;
}

.footer .line1 ul li a, .footer .line1 ul li a:hover, .footer .line1 ul li a:focus, .footer .line1 ul li:active {

    color: #ffffff;
}

.footer .line1 ul li a:hover {
    text-decoration: underline;
}

.footer .line1 ul li {
    display: inline;
    list-style-type: none;
    position: relative;
    display: block;
    float: left;
    margin-right: 120px;
}

.footer .line2 {

    background-color: #0091ea;
    min-height: 40px;
    width: 100%;
    float: left;
}

.footer .line2 .container p {

    text-align: center;

    font-size: 13px;
    padding-top: 10px
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Language switcher */

.language-change-block {
    margin: 13px 0 0;
    font-size: 13px !important;
    width: auto
}

.language-change-block .btn-group .dropdown-toggle {
    border: none;
    color: #74818A !important;
    font-size: 13px;
    background-color: transparent;
    box-shadow: none
}

.language-change-block .w-b {
    display: block;
    float: left;
    margin-right: 4px
}

.language-change {
    max-height: 187px;
    overflow: auto;
    box-shadow: none;
    width: 50px !important
}

.language-dropdown-icon, .weather-dropdown-icon {
    max-height: 20px;
    max-width: 20px
}

div.status, div.status2 {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: -1px 0px 0px 0px;
}

.status {
    background: none repeat scroll 0% 0% #2DCC70;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    margin: 7px 0px 0px 3px;
}

.messages-container {
    position: relative;
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}

.messages-area {
    min-height: 510px;
}

.messages .message {
    padding: 10px 10px 10px 110px;
    min-height: 80px;
    position: relative;
    background: none repeat scroll 0% 0% #FFF;
    margin-bottom: 4px;
    border: 1px solid #DFE0E4;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.1s ease-out 0s;
    box-sizing: border-box;
    cursor: pointer;
}

.messages .message .btn.reply {
    z-index: 10;
    bottom: 10px;
    right: 10px;
    position: absolute;
    opacity: 1;
}

.messages .message .btn {
    position: relative;
    opacity: 0;
    margin-top: 5px;
    box-shadow: none;
    transition: all 0.1s ease 0s;
    z-index: 5;
    background: none repeat scroll 0% 0% #F8F8F8;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #CCC #C5C6C8 #B6B7B9;
    color: #4E5665;
    text-shadow: 0px 1px 0px #FFF;
    padding: 5px 10px;
    font-weight: 600;
    box-sizing: border-box;
    white-space: nowrap;
    line-height: 1;
    border-radius: 2px;
    transition: all 0.15s ease 0s;
}

.messages .message .close {
    position: absolute;
    right: 14px;
    top: 14px;
    opacity: 0.5;
}

.close {
    float: right;
    width: 16px;
    height: 16px;
    background: url("../images/icons/close.png") no-repeat scroll center center / 16px auto transparent;
    margin: 11px;
    border: 0px none;
}

.messages .message > .fast {
    float: left;
    margin: 0px 0px 0px -100px;
    width: 80px;
    height: 80px;
    position: static;
    border-radius: 5px;
    overflow: hidden;
}

.messages .message .avatar {
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    position: static;
    background: none repeat scroll 0% 0% #EBEBEB;
}

.message-author {
    margin-top: 5px;
    overflow: hidden;
    line-height: 18px;
}

.message-author > span {
    float: left;
}

.message-author .name a {
    font-weight: 600;
    font-size: 16px;
    color: #1486B8;
}

.message-author .name a, a, a:hover {
    text-decoration: none;
}

.message-author .meta {
    position: relative;
    font-size: 12px;
    color: #2D3E50;
    padding: 2px 10px 0px;
}

.message-author > span {
    float: left;
}

.online .status {
    display: inline-block;
}

.message-author > span {
    float: left;
}

.status {
    background: none repeat scroll 0% 0% #2DCC70;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: none;
    margin: 7px 0px 0px 3px;
}

.online2 .status2 {
    display: inline-block;
}

.status2{
    background: none repeat scroll 0% 0% #ccc;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: none;
    margin: 7px 0px 0px 3px;
}

.attract-line-mask, .notif .avatar img, .preview li, .preview li a img, .status {
    vertical-align: top;
}

.messages .message.unread {
    background: none repeat scroll 0% 0% #C2DFFD;
}

.preview li {

    display: inline-block;
    margin: 0px 8px;
}

.preview li a {
    display: block;
    overflow: hidden;
    height: 72px;
}

.preview li a img {
    height: 72px;
    width: 72px;
}

.mobile-message-icon{
    display: block;
    position: relative;
    float: right;
 }


.mobile-message-icon .new-message-count{
    top: 6px;
    left: -7px;
}
.mobile-message-icon .message-ic{

    margin-top: 15px;
    margin-right: 10px;
    float: right;
}

.new-message-count {
    line-height: 13px;
    min-width: 14px;
    height: 15px;
    font-size: 10px;
    color: #FFF;
    position: absolute;
    top: 9px;
    left: 8px;
    background: none repeat scroll 0% 0% #F00;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #FFF;
}

.left-bar, .right-bar {
    border: 1px solid #e3e3e3;
    /*
        min-height: 767px;
    */
    width: 215px;
    background-color: #ffffff;

    /*box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);*/
    /*-moz-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);*/
    /*-webkit-box-shadow: 0 2px 4px -2px rgba(35, 35, 35, 0.08);*/

    /*   box-shadow: 1px 0 1px 1px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);

       -moz-box-shadow: 2px 0 5px 3px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);

       -webkit-box-shadow: 2px 0 5px 3px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);
       -o-box-shadow: 2px 0 2px -5px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);*/

}

.left-bar {
    float: left;
    padding-top:20px;
}

.right-bar {
    float: right
}

.link-default {
    color: #272727 !important;
}

.left-bar .sub-menu {
    line-height: 18px;
    margin: 0;
    padding: 0
}

.header-sub-menu {
    color: #ffffff;
}

hr {
    margin: 0px;
}

.header-sub-menu ul {
    list-style: none;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    font-size: 16px;
}

.header-sub-menu table {
    margin-bottom: 0px;
}

.header-sub-menu ul li {
    margin-bottom: 10px;
}

.header-sub-menu ul li a {
    color: #ffffff;
}

.header-sub-menu .sub-menu tr td a {
    padding: 0px;
}

.header-sub-menu .sub-menu tr td a:hover,
.header-sub-menu ul li a:hover,
.header-sub-menu .sub-menu tr td a:focus,
.header-sub-menu ul li a:focus {
    text-decoration: underline;
    color: #ffffff;
}

.header-sub-menu .sub-menu tr:hover {
    background-color: transparent;
}

.header-sub-menu .sub-menu tr td a {
    color: #ffffff;
}

.sub-menu tr {
    padding: 5px;
    font-size: 13px
}

.sub-menu tr td a {
    display: block;
    position: relative;
    color: #272727;
    padding: 0px 0px 0px 20px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
}

.sub-menu tr {

    padding: 0px;
}

.sub-menu tr td {
    border: none !important;
    padding: 8px 5px 1px 0px !important;
}

.sub-menu tr td a:hover, .sub-menu tr td a:active, .sub-menu tr td a:focus {
    color: #333333;
}

.sub-menu tr:hover {
    background-color: #F0F3F5;
}

.visitor-ic {

    background: url('../images/icons/sprite_internal.png') no-repeat -110px -67px;
    width: 12px;
    height: 7px;
    margin-top: 5px;
    display: block;
}

.like-ic, .mutual-like-ic {

    background: url('../images/icons/sprite_internal.png') no-repeat -112px -88px;
    width: 9px;
    height: 10px;
    margin-top: 3px;
    display: block;
}

.mutual-like-ic {
    background: url('../images/icons/sprite_internal.png') no-repeat -112px -113px;;
}

.sub-menu li.disable a {
    color: #b7b7b7
}

.sub-menu li span {

    float: right;
    color: #333333;
}

.sub-menu tr td a .count {
    min-width: 15px;
    padding: 0 7px;
}

.sub-menu li.disable span {
    background: #e3e3e3;
    color: #2d3e50
}

.dating-container {
    float: left;
    width: 100%;
    margin-top: 0px;
    position: relative;
}

.currentUserLink img, .prevPhoto, .nextPhoto {
    border-radius: 2px !important;
}

.dating-area,.vip-gallery-block .messages-container, .profile-page-container {
    overflow: hidden;
    /*box-shadow: 2px 0 5px 3px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);
    -moz-box-shadow: 2px 0 5px 3px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);
    -webkit-box-shadow: 2px 0 5px 3px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);
    -o-box-shadow: 2px 0 2px -5px rgba(35, 35, 35, 0.08), -2px 0 6px 3px rgba(35, 35, 35, 0.08);*/
    border: 1px solid #e3e3e3;
    border-radius: 2px;
}

.dating-area, .vip-gallery-block .filter, .filter .change, .preview li a, .rate-btn {
    position: relative;
}

.rate {
    background: none repeat scroll 0% 0% #FFF;
    text-align: center;
    padding-top: 5px;
    min-height: 480px;
}

.rate-vip {
    background: none repeat scroll 0% 0% #FFF;
    text-align: center;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 2px 0px 5px 3px rgba(35, 35, 35, 0.08), -2px 0px 6px 3px rgba(35, 35, 35, 0.08);
    border-radius: 2px;
}

.vip-photo{
    text-align: center;
    outline: none;
    padding-top: 10px;
}

.vip-user {
    font-size: 12px;
    padding-top:10px;
    padding-bottom:10px;
}

.user-filter-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.field-userfilter-agerange, .field-userfilter-onlinestatus, .field-userfilter-issetphoto{
    margin-bottom: -10px;
}

.field-userfilter-countryid, .field-userfilter-cityid {
    margin-bottom: 0px;
}

#userfilter-sex .radio{
    margin-top: 0px !important;
}

.user-filter-country {
    padding-left: 40px;
}

.rate, .rate .users-dating .user-dating .rate-vip{
    position: relative;
}

.user-gallery-item .thumbnail{
    padding: 0px !important;
}

.preview {
    margin: 0px;
    padding: 0px 15px;
    list-style: outside none none;
    letter-spacing: -31em;
    font-size: 0px;
    line-height: 0;
    text-align: center;
}

.rate {
    text-align: center;
}

.rate .users-dating {
    padding: 0px 0px 6px;
    min-height: 260px;
}

.rate .users-dating .level-2.left {
    left: 35px;
}

.rate .users-dating .level-2 {
    position: absolute;
    top: 100px;
    /*width: 100px;*/
    /*height: 100px;*/
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
    z-index: 10;
}

.rate .users-dating .level-2 a {
    display: block;
    overflow: hidden;
    height: 74px;
}

.rate .users-dating .level-2 a img {
    width: 100px;
    height: 100px;
}

.rate .users-dating .user-dating .rating.color-03 {
    color: #F16E04;
}

.rate .users-dating .user-dating .rating {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    padding: 3px 5px;
}

.rate .users-dating .level-1 img {
    position: relative;
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    margin: auto;
    height: 240px;
    width: 320px;
}

.rate .users-dating .level-2.right {
    right: 35px;
}

.rate .users-dating .level-2 a {
    display: block;
    overflow: hidden;
    height: 100%;
}

.rate .user-info {
    padding: 8px 90px 4px;
    font-size: 13px;
    width: 100%;
}

.rate .user-info .user-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;

}

#prevName, #nextName {
    font-size: 12px;
    display: block;
    height: 18px;
    width: 85px;
    overflow: hidden;
}

#prevMeta, #nextMeta {
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: -3px;
    display: block;
}

.discoveryPreviousBtn i, .discoveryNextBtn i {
    font-size: 27px;
}

.discoveryPreviousBtn, .discoveryNextBtn {
    border: none !important;
    background: transparent !important;
    position: absolute;
    top: 63px;
    left: 31px;
    display: block;
}

.discoveryPreviousBtn i, .discoveryNextBtn i {
    background: url('../images/icons/sprite_internal.png') no-repeat -51px -134px;
    width: 13px;
    height: 23px;
    display: block;
}

.discoveryNextBtn i {
    background: url('../images/icons/sprite_internal.png') no-repeat -73px -134px;

}

#previewPrevious:hover a .discoveryPreviousBtn i {
    background: url('../images/icons/sprite_internal.png') no-repeat -100px -134px;
}

#previewNext:hover a .discoveryNextBtn i {
    background: url('../images/icons/sprite_internal.png') no-repeat -122px -134px;
}

.rate .user-info .user-meta {
    margin: -2px 0px 0px 0px;
}

.rate .user-info a {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.rate h2 {
    margin: 5px 0px 0px;
    font-size: 15px;
    font-weight: 500;
    color: #2D3E50;
}

#discoveryfilterform-sex label {
    font-weight: normal;
    font-size: 12px;
}

.field-discoveryfilterform-agerange {
    padding-top: 25px;
}

.slider {
    margin: 6px 0px 10px 10px;
}

/* User gallery */

.thumbnail {
    width: 158px;
}

.thumbnail img {
    width: 158px;
}

.thumbnail .caption {
    padding: 3px 5px 0px 5px;
}

.thumbnail .caption p {
    padding: 0px;
    font-size: 12px;
}

.thumbnail .caption h4 {
    font-size: 17px;
}



/* ---------- User profile ----------*/

.profile-name {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    margin-top:8px;
    margin-right: 16px;
    color: #0091EA;
    display: block;
    width: 100%;
}
.profile-page-meta{
    margin-left: 2px;
}
.settings-page-container{

    padding: 0px;

}
.city-select-btn,#ask-upload-image{
    color: #000000;
    background-color:#F5F5F5;
    border-color: #cbcbcb;
}
.city-select-btn:hover,#ask-upload-image:hover,
.city-select-btn:focus,#ask-upload-image:focus,.city-select-btn:active,#ask-upload-image:active{
    color: #000000;
    background-color: #ececec;
    border-color: #aaaaaa;
}
.settings-page-container .settings-header{
    width: 100%;
    float: left;
    position: relative;

    margin: 0px;
    background-color: #F5F5F5;
    padding:10px 20px 10px 20px;

}

.settings-page-container .settings-content{

    width: 100%;
    float: left;
    position: relative;
    /*padding: 20px;*/
}
.site-settings{
    padding: 20px!important;
}
#form-settings .form-group, #form-password .form-group{
    padding: 10px 35px 10px 35px;
    margin-bottom: 0px;
}
#form-settings {
    margin-bottom: 30px;
}


.navbar-inverse .navbar-nav > .open > a,.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #00B9E5;
}



/* ------------------------------- Media queries--------------------------------------*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #profile-short-collapse {
        margin-left: 40px;
    }

    .center {
        margin: 0px 0px 0px 224px;
    }

    .navbar-collapse {
        min-width: 55%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    #profile-short-collapse {
        margin-left: 40px;
    }

    #discovery-filter-button {
        margin-top: 10px;
    }

    .navbar-collapse {
        min-width: 65%;
    }

    .user-filter-radio {
        padding-left: 70px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

    .main-container {
        width: 1178px !important;
        margin-top: 70px;
    }



    .navbar-collapse {
        min-width: 70%;
    }

    #profile-short-collapse {
        margin-left: 30px;
    }

    .center {
        margin: 0 224px;
    }

    .user-filter-radio {
        padding-left: 70px;
    }
}

@media only screen  and (max-width: 1200px ) {

    .rate .users-dating .level-2 {
        top: 100px;
    }
}

/* Small Devices, Tablets */
@media only screen  and (max-width: 991px ) {

    .rate .users-dating .level-2 {
        top: 326px;
    }

    .rate .users-dating .level-2.right {
        right: 88px;
    }

    .rate .users-dating .level-2.left {
        left: 88px;
    }

    #discovery-filter-button {
        margin-top: 160px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {


    /*.profile-short {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 49px;*/
    /*}*/


    .navbar-collapse {
        min-width: 60%;
    }

    .navbar .navbar-collapse {
        width: 110%;
        text-align: left !important;
    }

    .profile-short .name {
        font-size: 12px;
        max-width: 90px;
        overflow: hidden;
        max-height: 15px;
    }


    .footer .line1 ul li {
        margin-right: 20px;
    }

    .rate .users-dating .level-1 img {
        height: 200px;
        width: 80%;
    }

    .rate .users-dating .level-2 {
        top: 290px;
        width: 80px;
        height: 80px;
    }

    #discovery-filter-button {
        margin-top: 125px;
        margin-bottom: 10px;
    }

    .discoveryPreviousBtn, .discoveryNextBtn {

        top: 70%;
        left: 21px;
    }

    .rate {
        min-height: 450px;
    }

    .left-bar {
        min-height: 450px;
    }

    .messages .message .message-body {
        display: none;
    }

    .messages-area {
        min-height: 350px;
    }

    .message-author .name a{
        font-size: 12px;
    }

    .profile-name{
        font-size: 15px;
    }
    .profile-page-meta{
        font-size: 11px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .rate .users-dating .level-2 {
        top: 260px;
    }

    #discovery-filter-button {
        margin-top: 85px;
    }

    .rate .users-dating .level-1 img {
        height: 170px;

    }

    .rate .users-dating .level-2.right {
        right: 35px;
    }

    .rate .users-dating .level-2.left {
        left: 35px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

    .rate .users-dating .level-2.right {
        right: 35px;
    }

    .rate .users-dating .level-2.left {
        left: 35px;
    }

    .rate .users-dating .level-2 {
        top: 300px;
    }
}

/* ------------------------------- Media queries--------------------------------------*/


/*
    New template
*/

.table-submenu td{
    border: none !important;
    padding: 4px 5px 4px 0px !important;
    color: #272727 !important;
}

.table-submenu td a{
    color: #272727 !important;
}


.table-submenu {
    margin:  0px 10px 0px 10px !important;
    width: 206px;
}

.table-submenu .badge {
    background-color: #24a2f1;
}

.table-submenu tr:hover {
    background-color: #F0F3F5;
    cursor: pointer;
    color: #272727 !important;
}

.coin-button {
    background-color: #a09e9e;margin-left: 10px;margin-top: 10px; margin-bottom: 10px;
    color: #ffffff;
    height: 30px;
    border: none;
}

.coin-button:hover{
    background-color: #e3bb1a;
    color: #FFF;
}

.vip-user-thumb{
    -webkit-box-shadow:0 3px 2px 1px #B9B9B9;
    -moz-box-shadow:0 3px 2px 1px #B9B9B9;
    box-shadow: 0 3px 2px 1px #B9B9B9;
}

.vip-user-thumb:hover{
    -webkit-box-shadow:0 3px 9px 1px #B9B9B9;
    -moz-box-shadow:0 3px 9px 1px #B9B9B9;
    box-shadow: 0 3px 9px 1px #B9B9B9;
}

.new-user-block{
     min-height: 92px;margin: 5px 0px 5px 0px;background-color: #FFF;
    -webkit-box-shadow:0 1px 1px 0px #B9B9B9;
    -moz-box-shadow:0 1px 1px 0px #B9B9B9;
    box-shadow: 0 1px 1px 0px #B9B9B9;
    height: 92px;
    overflow-y: hidden;
}

.new-user-block:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);



    webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.user-block-last-post{
    font-size: 12px;
    color: #37474f;
    word-wrap: break-word;
    line-height: 1.2;
    margin-top: 2px;
    height: 40px;width: 100%;
}

.new-user-block-about , .new-friend-block-about{
    float: left;
    margin-left: 10px;
    padding-top:10px;
    line-height: 0.5;
    max-width: 150px;
    width: 100%;
}

.new-user-block-name{
    font-size: 16px;
    color: #37474f
}

.new-user-block-city{
    font-size: 15px;
    color: #b0bec5;
    margin-top: 10px;
}
.new-user-block-send{
    float: right;
    width: 35px;
    min-height:80px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #dfdfdf;
    padding-left: 5px;
}

.nav-icons{
    float: left;
    display: block;
    margin-top: 4px;
    margin-right: 4px;
}

.profile-page-main{
    padding-top: 0px !important;
    background-color: transparent;
    border: none;
}

.nav-visitor-ic{
    background: url("../images/icons/visitors.png") no-repeat;
    width: 16px;
    height: 11px;
}

.nav-viplike-ic{
    background: url("../images/icons/rates.png") no-repeat;
    width: 15px;
    height: 14px;
}

.nav-like-ic{
    background: url("../images/icons/like.png") no-repeat;
    width: 12px;
    height: 14px;
}



.nav-mutual-like-ic{
    background: url("../images/icons/mutual-likes.png") no-repeat;
    width: 16px;
    height: 15px;
}

.nav-gift-ic{
    background: url("../images/icons/gifts.png") no-repeat;
    width: 12px;
    height: 12px;
}

.nav-friend-ic{
    background: url("../images/icons/friend-icon.png") no-repeat;
    width: 15px;
    height: 13px;
}

.title-block{
    color:#37474f;
    padding-top: 14px;
    font: 18px Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
     height: 50px;
    background-color: #FFF !important;
    margin-left: -15px;
}


.profile-title-block{
    color:#37474f;
    font: 18px Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
     background-color: #FFF !important;
}

.arrow_box {
    position: relative;
    background: #FFF;
    border: 1px solid #CCC;
     padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 8px;
    margin-left: -8px;
}
.arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #CCC;
    border-width: 9px;
    margin-left: -9px;
}

/*** New alochat profile  design***/

.profile-left{padding: 0px 9px 0px 9px;}
.profile-center{padding: 0px 9px 0px 9px}
.profile-right{padding: 0px 9px 0 9px;}

.profile-left-photo{background-color: #FFF; border: 1px solid #e6e6e6;padding: 10px;margin-bottom: 14px;}
.profile-photo-block-mob{background-color: #FFF;margin-bottom: 10px;border: 1px solid #e3e3e3}
.profile-left-photo-mob{padding: 5px;border: 1px solid #e3e3e3; border-top: 0px; border-left: 0px;}
.profile-left-status-mob{padding-left: 0px; padding-right: 0px;border-right: 0px !important;}
.profile-left-photo img:hover{box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.share-block-content img:hover{box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.share-block-outer{padding-left: 18px; padding-right: 18px;}

.profile-left-status{padding: 5px 5px 0 5px;border: 1px solid #e3e3e3;margin-left: 10px;}
.profile-left-status-icons{padding: 10px;}

.like-btn{padding: 4px 12px 4px 20px; !important;min-width: 110px; background-color: #f067ae;border-radius: 1px;color: #FFF;margin-right: 10px;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.message-btn{padding: 4px 12px 4px 20px; !important;min-width: 110px;background-color: #66bb6a;border-radius: 1px;color: #FFF;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.blue-btn{background-color: #0091ea; color: #FFF;border-radius: 0px;}
.like-btn-text, .message-btn-text{float: left}
.like-btn:hover{background-color: #f02e94; color: #FFF}
.message-btn:hover{color: #FFF; background-color: #28bb1c
}

.like-btn-mob{background-color: #f067ae;height:22px;width: 25%;padding-top: 1px;color: #FFF;margin-right: 10px;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.message-btn-mob{background-color: #66bb6a;height:22px;width: 52%;padding-top: 1px;margin-right:10px; color: #FFF;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.blue-btn-mob{background-color: #0091ea; color: #FFF; height: 22px; }
.profile-btn:hover{box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.profile-btn a{border-radius: 4px;}

.dropdown-user{padding:10px; float:right; background-color: #c4d0d6;border-radius: 0px;color: #FFF;}
.dropdown-user-mob{height:22px; padding:5px 10px 10px 10px; float:right; background-color: #c4d0d6;color: #FFF;}
.dropdown-user-menu{margin: -60px 0px 0px -140px}

.profile-user-details-block{background-color: #FFF; border: 1px solid #e3e3e3;margin-bottom: 10px;}
.profile-user-details-row{margin: 0px; border-bottom: 1px solid #e3e3e3;width: 100%;padding: 0px;}
.profile-user-details-row-last{margin: 0px; width: 100%;padding: 0px;}



.user-details-left{padding: 5px;color: #292F33}
.user-details-right{padding: 5px;color: #292F33}


.left-block{border: 1px solid #ececec;margin-bottom: 14px;}
.left-block-title{height: 26px;padding-top:4px; text-align:center;background-color: #b0bec5;font-size: 14px; color: #FFF;border-radius: 1px;}
.left-block-title a{color: #FFF;display: block}
 .left-block-content{padding:8px 4px; background-color: #fff;}



.user-left-gallery-block{margin-left: 0px; margin-right: 0px;}
.left-gallery-img{width: 25%; float: left;padding: 2px;position: relative}
.left-gallery-img-text{position: absolute;bottom: -8px;left: 4px;right:4px;height:12px; font-size: 11px; overflow: hidden;color: white;padding-bottom: 15px;
    background: transparent linear-gradient(transparent, rgba(0, 0, 0, 0.7)) repeat scroll 0% 0%;  }
.left-gallery-img img:hover{border: 1px solid #b0bec5;cursor: pointer}
.photo-prw{cursor: pointer}

.center-block{background-color: #FFF; border: 1px solid #e3e3e3;margin-bottom: 12px;border-radius: 3px;}
.center-block-status-content{padding: 10px 14px 10px 25px;}
.center-block-status-user{color: #8899a6; font-weight: bold; }
.center-block-status-text{color: #66757f;margin-top: 10px;}


.send-share-block{margin-bottom: 11px;background-color: #eff5f9; border: 1px solid #e3e3e3;padding: 10px;}
.share-textarea{width: 100%;height: 65px; border: 1px solid #e3e3e3;border-radius: 5px;}
.share-smile-icon{margin-right: 20px;}
.share-photo-icon{margin-right: 20px;}


.share-block{padding-left: 0px;padding-right: 0px;margin-bottom: 20px;}
.share-block-content{padding: 15px 0px}
.share-block-username{color: #292F33;font-size: 15px;margin-left: 20px;padding-top: 10px;float: left;font-weight: bold;}
.share-block-date{float: right;padding-top: 10px;color: #8899A6;font-size: 12px;font-weight: bold}
.share-block-text{color: #292F33;font-size: 14px;line-height: 25px;margin-top: 5px;}
.share-block-icons{margin-top: 1px; margin-bottom: -4px;}
.share-block-icons a{  margin-right: 17px}
 .share-block-icons img{height: 16px;}
 .share-block-icons a{color : #8899A6}

.dropdown-menu > li > a{padding: 5px 20px;}

.right-block{margin-bottom: 18px;border: 1px solid #e3e3e3;height: auto;background-color: #FFF;}
.right-block-post{border-bottom: 1px solid #e8e8e8;}
.right-post-user-img{float:left;border: 1px solid #e3e3e3}
.right-post-block-user{float:left;padding: 14px;}
.right-block-post-text2{margin-bottom: 13px;}
.right-block-post-text{float: left;margin-top: 12px;margin-bottom: 14px;font-size: 12px; color: #7b888f;max-width:200px;text-align: justify}
.right-block-post-text img{margin-top: 2px;}
.img-share{border-radius: 3px;}
.ads-img{margin: 2px;}
.right-block-post:hover{background-color: #f5f5f5}

.right-menu-back{cursor: pointer;margin-left: 15px; margin-top: 15px;}
.right-menu-icon{margin-right: 5px; vertical-align: text-top;}
.right-menu-user{border-bottom: 1px solid #e3e3e3}
.right-menu-user-about{float: left;margin-left: 10px;color: #66757f; font-weight: bold;}
.right-menu-user-city{font-size: 12px; font-weight: normal}

.profile-nav-tabs{font-size: 16px;}
.center-user-status{margin-bottom: 0px !important;}

.right-menu-child{border-top: 1px solid #e3e3e3; }
.right-menu-child a{    padding-left: 60px !important;}

.nav-menu-title{float: left;margin-top: 4px;font-size: 14px;}


.div.status-offline {vertical-align: middle;width: 10px;height: 10px;margin: -1px 0px 0px;}
.online .status-offline {display: inline-block;}
.status-offline {background: #ccc none repeat scroll 0% 0%;width: 10px;height: 10px;border-radius: 100%;display: none;margin: 7px 0px 0px 3px;}

.footer-social{margin-top: -40px;text-align: right;padding-right: 20px;}
.footer-facebook{width: 38px; height: 38px; border-radius: 50%;background-color: #55acee;float: right;padding: 12px 12px;margin-right: 20px;}
.footer-twitter{width: 38px; height: 38px; border-radius: 50%;background-color: #3b5998;float: right;padding: 9px 13px;margin-right: 20px;}
.footer-top{width: 38px; height: 38px; border-radius: 50%;background-color: #0091ea;float: right;padding: 13px 13px;margin-right: 20px;}


.footer-facebook:hover, .footer-twitter:hover, .footer-top:hover{box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);}

.kv-editable-link{text-align: left}

.z-depth-1{box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
.z-depth-2{box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);}
.footer-block{padding-top: 5px;padding-bottom: 30px;font-size: 14px;color: #FFF}
.footer-block a{color: #fff}
.footer-lang{margin-right: 5px;padding: 10px;}
.footer-lang:hover, .lang-active{background-color: #2ba1ea}

.user-buttons{padding: 10px;}
.margin-0{margin: 0px;}
.padding-0{padding: 0px;}
.border-block{border-bottom: 1px solid #e3e3e3;}
.cursor{cursor: pointer}


/**New alochat template media queries**/
@media only screen and  (max-width: 320px){
    .new-user-padding{
        padding: 0px !important;
    }
    .new-user-block-about{
        max-width: 60px;
    }

    .profile-left{ margin-top: 60px; }
    .navbar-nav{margin: 0px;}
    .navbar-nav > li{min-height: 20px;}
    .profile-left-status{border-top: 0px;border-right: 0px;}
    .blue-btn{height: 22px; border-radius: 3px;padding: 1px; }
    .new-friend-block-about{max-width: 60px;}
    .profile-nav-tabs{font-size: 14px;float: left !important;}
    .profile-nav-tabs > li > a{padding: 10px 10px;}
    .navbar-brand{margin-left: 0px;}
    .navbar .navbar-nav{margin-left: 0px;}
    .profile-short{margin-right: 0px;}
    .profile-short .name{margin-top: 8px;}
    .footer-block{padding-bottom: 5px;padding-top: 11px;}
    .footer-block1{padding-top: 15px;}



}


@media only screen and (min-width: 320px) and  (max-width: 360px){
    .new-user-padding{
        padding: 0px !important;
    }
    .new-user-block-about{
        max-width: 120px;
    }

    .photo img{
        width: 95px !important;
        height: 95px !important;
    }
    .profile-left{ margin-top: 60px; }
    .nav{ float: right !important;}
    #right-menu{width: 180px !important;}
    .navbar-nav > li{min-height: 20px;}
    .navbar-nav{margin: 0px;}
    .profile-left-status{border-top: 0px;border-right: 0px;}
    .blue-btn{width: 78px;height: 22px; border-radius: 3px;padding: 1px; }
    .new-friend-block-about{max-width: 120px;}
    .profile-nav-tabs{font-size: 14px;float: left !important;}
    .profile-nav-tabs > li > a{padding: 10px 10px;}
    .navbar-brand{margin-left: 0px;}
    .navbar .navbar-nav{margin-left: 0px;}
    .profile-short{margin-right: 0px;}
    .profile-short .name{margin-top: 8px;}
    .footer-block{padding-bottom: 5px;padding-top: 11px;}
    .footer-block1{padding-top: 15px;}




}

@media only screen and (min-width: 360px) and  (max-width: 768px){
    .new-user-padding{
        padding: 0px !important;
    }
    .new-user-block-about{
        max-width: 170px;
    }
    .profile-left{ margin-top: 60px; }
    .nav{float: right !important;}
    #right-menu{width: 180px !important;}
    .navbar-nav > li{min-height: 20px;}
    .navbar-nav{margin: 0px;}
    .profile-left-status{border-top: 0px;border-right: 0px;}
    .blue-btn{width: 78px;height: 22px; border-radius: 3px;padding: 1px; }
    .new-friend-block-about{max-width: 170px;}

    .profile-nav-tabs{font-size: 14px;float: left !important;}
    .profile-nav-tabs > li > a{padding: 10px 10px;}
    .navbar-brand{margin-left: 0px;}
    .navbar .navbar-nav{margin-left: 0px;}
    .profile-short{margin-right: 0px;}
    .profile-short .name{margin-top: 8px;}
    .footer-block{padding-bottom: 5px;padding-top: 11px;}
    .footer-block1{padding-top: 15px;}





}

@media only screen and (min-width: 768px) and  (max-width: 800px){
    .new-user-padding{
        padding: 0px !important;
    }
    .new-user-block-about{
        max-width: 190px;
    }

    .profile-left{ margin-top: 60px; }
    .profile-center{margin-top: 60px;}
    .new-friend-block-about{max-width: 190px;}
    .footer-block{padding-bottom: 5px;}



}

@media only screen and (min-width: 800px) and  (max-width: 992px){
    .new-user-padding{
        padding: 0px !important;
    }

    .new-user-block-about{
        max-width: 330px;
    }

    .profile-left{ margin-top: 60px; }
    .profile-center{margin-top: 60px;}
    .new-friend-block-about{max-width: 330px;}




}

@media only screen and (min-width: 992px) and  (max-width: 1280px){

    .new-user-block-about{
        max-width: 175px;
    }

    .new-friend-block-about{max-width: 170px;}

}

@media only screen and (min-width: 1280px){
    .new-user-block-about{
        max-width: 175px;
    }

    .new-friend-block-about{max-width: 250px;}

}





.profile-nav-tabs {

    border-bottom: 1px solid transparent;
 }
.profile-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.profile-nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.profile-nav-tabs > li > a:hover {
    border-color: #eee #eee #00B9E5;
    background-color: transparent;
}
.profile-nav-tabs > li.active > a,
.profile-nav-tabs > li.active > a:hover,
.profile-nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid;
    border-color: #eee #eee #00B9E5;
}
